# Xcode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Samples/ScannerBrowser/AppController.h
Samples/ScannerBrowser/AppController.m
Samples/ScannerBrowser/Info.plist
Samples/ScannerBrowser/main.m
Samples/ScannerBrowser/ReadMe.txt
Samples/ScannerBrowser/ScannerBrowser.icns
Samples/ScannerBrowser/ScannerBrowser_Prefix.pch
Samples/ScannerBrowser/VerticallyCenteredTextFieldCell.h
Samples/ScannerBrowser/VerticallyCenteredTextFieldCell.m
Samples/ScannerBrowser/English.lproj/InfoPlist.strings
Samples/ScannerBrowser/English.lproj/MainMenu.xib
Samples/ScannerBrowser/ScannerBrowser.app/Contents/Info.plist
Samples/ScannerBrowser/ScannerBrowser.app/Contents/PkgInfo
Samples/ScannerBrowser/ScannerBrowser.app/Contents/MacOS/ScannerBrowser
Samples/ScannerBrowser/ScannerBrowser.app/Contents/Resources/ScannerBrowser.icns
Samples/ScannerBrowser/ScannerBrowser.app/Contents/Resources/English.lproj/InfoPlist.strings
Samples/ScannerBrowser/ScannerBrowser.app/Contents/Resources/English.lproj/MainMenu.nib
Samples/ScannerBrowser/ScannerBrowser.xcodeproj/project.pbxproj
Samples/SimpleCameraBrowser/AppController.h
Samples/SimpleCameraBrowser/AppController.m
Samples/SimpleCameraBrowser/Info.plist
Samples/SimpleCameraBrowser/main.m
Samples/SimpleCameraBrowser/ReadMe.txt
Samples/SimpleCameraBrowser/SimpleCameraBrowser_Prefix.pch
Samples/SimpleCameraBrowser/TemplateChooser.plist
Samples/SimpleCameraBrowser/English.lproj/InfoPlist.strings
Samples/SimpleCameraBrowser/English.lproj/MainMenu.nib/designable.nib
Samples/SimpleCameraBrowser/English.lproj/MainMenu.nib/keyedobjects.nib
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/.svn/entries
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Info.plist
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/PkgInfo
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/.svn/entries
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/MacOS/SimpleCameraBrowser
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/MacOS/.svn/entries
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/MacOS/.svn/props/SimpleCameraBrowser.svn-work
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Resources/.svn/entries
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Resources/English.lproj/InfoPlist.strings
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Resources/English.lproj/MainMenu.nib
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Resources/English.lproj/.svn/entries
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Resources/English.lproj/.svn/props/InfoPlist.strings.svn-work
Samples/SimpleCameraBrowser/SimpleCameraBrowser.app/Contents/Resources/English.lproj/.svn/props/MainMenu.nib.svn-work
Samples/SimpleCameraBrowser/SimpleCameraBrowser.xcodeproj/project.pbxproj
Samples/TWAIN-SANE-Interface-3.0/build.sh
Samples/TWAIN-SANE-Interface-3.0/pkg/Info.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/background.gif
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/InstallationCheck
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/English.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/English.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/English.lproj/License.rtf
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/French.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/French.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/German.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/German.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/Italian.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/Italian.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/Japanese.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/Japanese.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/Spanish.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/Spanish.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/sv.lproj/Description.plist
Samples/TWAIN-SANE-Interface-3.0/pkg/Resources/sv.lproj/InstallationCheck.strings
Samples/TWAIN-SANE-Interface-3.0/src/Alerts.cpp
Samples/TWAIN-SANE-Interface-3.0/src/Alerts.h
Samples/TWAIN-SANE-Interface-3.0/src/Buffer.cpp
Samples/TWAIN-SANE-Interface-3.0/src/Buffer.h
Samples/TWAIN-SANE-Interface-3.0/src/DataSource.cpp
Samples/TWAIN-SANE-Interface-3.0/src/DataSource.h
Samples/TWAIN-SANE-Interface-3.0/src/DeviceInfo.plist
Samples/TWAIN-SANE-Interface-3.0/src/DSEntry.cpp
Samples/TWAIN-SANE-Interface-3.0/src/exported-symbols
Samples/TWAIN-SANE-Interface-3.0/src/GammaTable.cpp
Samples/TWAIN-SANE-Interface-3.0/src/GammaTable.h
Samples/TWAIN-SANE-Interface-3.0/src/Image.cpp
Samples/TWAIN-SANE-Interface-3.0/src/Image.h
Samples/TWAIN-SANE-Interface-3.0/src/Info.plist.in
Samples/TWAIN-SANE-Interface-3.0/src/Info.sh
Samples/TWAIN-SANE-Interface-3.0/src/MakeControls.cpp
Samples/TWAIN-SANE-Interface-3.0/src/MakeControls.h
Samples/TWAIN-SANE-Interface-3.0/src/md5.c
Samples/TWAIN-SANE-Interface-3.0/src/md5.h
Samples/TWAIN-SANE-Interface-3.0/src/MissingQD.h
Samples/TWAIN-SANE-Interface-3.0/src/PkgInfo
Samples/TWAIN-SANE-Interface-3.0/src/SANE.ds_Prefix.pch
Samples/TWAIN-SANE-Interface-3.0/src/SANE.icns
Samples/TWAIN-SANE-Interface-3.0/src/sane_constrain_value.c
Samples/TWAIN-SANE-Interface-3.0/src/SaneCallback.cpp
Samples/TWAIN-SANE-Interface-3.0/src/SaneCallback.h
Samples/TWAIN-SANE-Interface-3.0/src/SaneDevice.cpp
Samples/TWAIN-SANE-Interface-3.0/src/SaneDevice.h
Samples/TWAIN-SANE-Interface-3.0/src/UserInterface.cpp
Samples/TWAIN-SANE-Interface-3.0/src/UserInterface.h
Samples/TWAIN-SANE-Interface-3.0/src/English.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/English.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/French.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/French.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/German.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/German.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/Italian.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/Italian.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/Japanese.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/Japanese.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/Russian.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/Russian.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/SANE.ds.10.6.xcodeproj/project.pbxproj
Samples/TWAIN-SANE-Interface-3.0/src/SANE.ds.10.7.xcodeproj/project.pbxproj
Samples/TWAIN-SANE-Interface-3.0/src/SANE.ds.xcodeproj/project.pbxproj
Samples/TWAIN-SANE-Interface-3.0/src/Spanish.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/Spanish.lproj/Localizable.strings
Samples/TWAIN-SANE-Interface-3.0/src/Swedish.lproj/InfoPlist.strings
Samples/TWAIN-SANE-Interface-3.0/src/Swedish.lproj/Localizable.strings
VirtualScanner/ReadMe.txt
VirtualScanner/VirtualScanner-Info.plist
VirtualScanner/VirtualScanner_Prefix.pch
VirtualScanner/Includes/EntryPoints.h
VirtualScanner/Includes/ScannedImage.h
VirtualScanner/Includes/VirtualScanner.h
VirtualScanner/Resources/DeviceInfo.plist
VirtualScanner/Resources/DeviceMatchingInfo.plist
VirtualScanner/Resources/ScannerProperties.plist
VirtualScanner/Resources/test.tiff
VirtualScanner/Resources/English.lproj/InfoPlist.strings
VirtualScanner/Sources/EntryPoints.m
VirtualScanner/Sources/main.m
VirtualScanner/Sources/ScannedImage.m
VirtualScanner/Sources/VirtualScanner.m
VirtualScanner/VirtualScanner.xcodeproj/project.pbxproj
